.navbar {
  background-color: rgb(245, 245, 245);
  width: auto; /* Make the navbar responsive */
  position: fixed; /* Fix the navbar at the top */
  top: 0; /* Ensure it sticks to the top */
  left: 0;
  z-index: 1000; /* Ensure it stays above other content */
}

nav {
  display: flex;
  border: 1px solid white;
  align-items: center;
  padding: 8px 24px;
  font-size: 1.2em;
  position: sticky;
  top: 0;
}
li{
  margin-left: auto;
}

ul {
  list-style-type: none;
  display: flex;
  margin-left: 520px;
  gap: 40px;
  margin-right: 100px;
}

a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

li a {
  font-size: 18px;
}

li {
  border-bottom: 1px solid transparent;
  transition: border-color 0.8s ease;
}

li:hover {
  transform: scale(1.1);
  border-color: rgb(33, 33, 33);
}

.home {
  color: rgb(67, 67, 184);
  font-weight: 900;
  font-style: italic;
  gap: 2px;
  margin-left: 80px;
}

.home12 {
  color: rgb(143, 138, 132);
  font-weight: 800;
  font-size: small;
}

span {
  color: rgb(233, 215, 16);
}

/* Search Bar Container */
.search-container {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

.search-bar {
  display: flex;
  align-items: center;
  width: 500px;
  margin-left: 100px;
  margin-top: 10px;
}

.search-bar input {
  width: 100px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px 0 0 4px;
}

.search-bar button {
  border: 1px solid #ccc;
  border-radius: 0 4px 4px 0;
  background-color: #f8f9fa;
  cursor: pointer;
  height: 34px;
  display: flex;
}

.search-bar button:hover {
  background-color: #e9ecef;
}