.cart-container h1{
  font-size: 1.5rem;
  font-weight: 100;
  color: rgb(75, 75, 75);
}
.cart-item{
  display: flex;
  border: 1px solid #d8d6d6;
  width: 800px;
  margin-left: 150px;

}
.cart-body{
  display: flex; 
}
.cart-summary{
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.1);
  margin-left: 30px;
  width: 400px;
  height: 300px;
}
.cart-summary h2{
  font-size: 1rem;
  color: rgb(190, 191, 192);
  margin-left: 20px;
}
.cart-summary hr{
  border: 0.3px solid rgb(212, 213, 214);
}
.summary-details{
  font-size: 15px;
  margin-left: 25px;
  line-height: 30px;
}
.remove-button{
  background-color: white;
  color: black;
  border: 0px solid #b8b9b9;
  margin-left: 500px;
  margin-bottom: 20px;
  font-size: 17px;
}
.quantity-control button{
  background-color: rgb(255, 255, 255);
  color: black;
  border: 1px solid #e9e5e5;
}
